<% include ../partials/header %>

<h1>Profile</h1>
<h5>Level: <%= user.level %></h5>

<div class="container">
    <div class="row" style="margin: 0 auto;">
        <a href="/profile/badges" class="btn btn-primary">Badges</a>
    </div>
</div>

<% include ../partials/footer %>